<div class="container">
      <h1><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
      <h4>Edit your profile</h4>
      <form action="/show" method="post">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <button type="submit" class="btn btn-primary">Back</button>
      </form>
      <hr>
      <p class="info_message"><%= flash[:message] %></p>

      <div class="edit_info">
            <form action="/update" method="post">
            <input name="authenticity_token" value= "<%= form_authenticity_token %>" type="hidden">
                  <div class="form-group">
                        <label for="f_name">First Name:</label>
                        <input type="text" class="form-control" id="f_name" name="f_name" value="<%= @user.first_name.capitalize %>">
                  </div>
                  <div class="form-group">
                        <label for="l_name">Last Name:</label>
                        <input type="text" class="form-control" id="l_name" name="l_name" value="<%= @user.last_name.capitalize %>">
                  </div>
                  <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" name="email" value="<%= @user.email %>">
                  </div>
                  <h5 class="enter_password">MUST ENTER YOUR PASSWORD TO SAVE CHANGES:</h5>
                  <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" value="<%= @user.password %>">
                  </div>
                  <div class="form-group">
                        <label for="password_confirmation">Re-type Password:</label>
                        <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" value="<%= @user.password_confirmation %>">
                  </div>
                  <button type="submit" class="btn btn-info">Update</button>
            </form>
      </div>
</div>
